<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">

    <target xsi:type="File" name="FileTargetDebug" fileName="${basedir}/Logs/${shortdate}/Debug.log" encoding="utf-16"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="FileTargetInfo" fileName="${basedir}/Logs/${shortdate}/Info.log" encoding="utf-16"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="FileTargetWarn" fileName="${basedir}/Logs/${shortdate}/Warn.log" encoding="utf-16"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="FileTargetError" fileName="${basedir}/Logs/${shortdate}/Errors.log" encoding="utf-16"
            layout="${longdate} ${uppercase:${level}}&#xD;Message: ${message}&#xD;Exception: ${exception:format=tostring}&#xD;Url: ${aspnet-request-url}&#xD;Action: ${aspnet-mvc-action}&#xD;Callsite: ${callsite}"  />

    <target xsi:type="File" name="jsonFile" fileName="${basedir}/Logs/${shortdate}/telegram-webhook.log"
            layout="${longdate} ${uppercase:${level}} ${newline}LogData: ${event-properties:item=LogData}${newline}Body: ${event-properties:item=RequestBody}${newline}---" />

    <target name="webhook.postgresql"
        xsi:type="Database"
        dbProvider="Npgsql.NpgsqlConnection, Npgsql"
        connectionString="Server=postgres82.1gb.ru;Port=5432;Database=xgb_helplifebot;User ID=xgb_helplifebot;Password=Zx2dkp-3RLzT;"
        commandText="INSERT INTO &quot;TelegramWebhookLogs&quot; (&quot;LogData&quot;, &quot;Body&quot;) VALUES (@logdata::jsonb, @body::jsonb)">

      <parameter name="@logdata" layout="${event-properties:item=LogData}" />
      <parameter name="@body" layout="${event-properties:item=RequestBody}" />
    </target>

  </targets>

  <rules>
    <logger name="*" level="Debug" writeTo="FileTargetDebug" />
    <logger name="*" level="Info" writeTo="FileTargetInfo" />
    <logger name="*" level="Warn" writeTo="FileTargetWarn" />
    <logger name="*" minlevel="Error" writeTo="FileTargetError" />
    <logger name="HelpLifeBot.Host.Controllers.Api.TelegramController.WebhookAsync"
            minlevel="Info"
            writeTo="jsonFile,webhook.postgresql"
            final="true" />
    <logger name="HelpLifeBot.Host.Co2ntrollers.Api.TelegramController.WebhookAsync.File"
            minlevel="Info"
            writeTo="jsonFile"
            final="true" />
  </rules>
</nlog>
